<mat-toolbar color="primary" class="navbar">
  <button
    mat-icon-button
    class="mobile-menu-btn mobile-menu"
    [matMenuTriggerFor]="mobileNavMenu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="nav-title" routerLink="/home">
    {{ 'NAVBAR.TITLE' | translate }}</span
  >
  <span class="spacer"></span>

  <!-- Menú de navegación principal -->
  <nav class="nav-links desktop-menu">
    <a mat-button routerLink="/users">
      <mat-icon>group</mat-icon>
      {{ 'BUTTON.USERS_LIST' | translate }}
    </a>

    <a mat-raised-button color="accent" routerLink="/users/create">
      <mat-icon>person_add</mat-icon>
      {{ 'BUTTON.NEW_USER' | translate }}
    </a>
  </nav>

  <!-- Menú desplegable Móvil -->
  <mat-menu #mobileNavMenu="matMenu" class="mobile-menu">
    <a mat-menu-item routerLink="/users">
      <mat-icon>group</mat-icon>
      <span>{{ "BUTTON.USERS_LIST" | translate }}</span>
    </a>
    <a mat-menu-item routerLink="/users/create">
      <mat-icon>person_add</mat-icon>
      <span>{{ "BUTTON.NEW_USER" | translate }}</span>
    </a>
  </mat-menu>

  <!-- Selector de Idioma (Dropdown) -->
  <button mat-button [matMenuTriggerFor]="languageMenu">
    <mat-icon>language</mat-icon>
    <span>{{ currentLang() }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #languageMenu="matMenu">
    <button
      mat-menu-item
      (click)="changeLanguage('es')"
      [disabled]="currentLang() === 'es'"
    >
      <span [class.fw-bold]="currentLang() === 'es'">Español (ES)</span>
    </button>
    <button
      mat-menu-item
      (click)="changeLanguage('en')"
      [disabled]="currentLang() === 'en'"
    >
      <span [class.fw-bold]="currentLang() === 'en'">English (EN)</span>
    </button>
  </mat-menu>
</mat-toolbar>
