.navbar {
  //width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0 24px;
}

.nav-title {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}

/* El espaciador toma todo el espacio sobrante */
.spacer {
  flex: 1 1 auto;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 12px;
}


.desktop-menu{
  display: block;
}
.mobile-menu{
  display: none;
}

/* Reglas Responsive */
@media (max-width: 770px) {
  .mobile-menu{
    display: block;
  }

  .desktop-menu{
    display: none;
  }

  .navbar {
    padding: 0 12px;
  }

  .nav-title {
    font-size: 1rem;
  }

  .nav-links a {
    padding: 0 8px;
    font-size: 0.85rem;
  }
}
