// src/styles.scss
@use '@angular/material' as mat;

@include mat.core();

// Definición de paleta personalizada Verde (Emerald/Green)
$green-primary: mat.define-palette(mat.$green-palette, 700);
$green-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$green-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
  color: (
    primary: $green-primary,
    accent: $green-accent,
    warn: $green-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($theme);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f2f7f6;
}


button {
  margin-right: 8px;
  border-radius: 25px;
}


.nav-links mat-icon {
  margin-right: 6px;
}

/* Estado activo para la ruta seleccionada */
.active-link {
  background-color: rgba(255, 255, 255, 0.15);
}
